*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../banner/bgimg.png);
	background-size: 100%;
	background-attachment: fixed;
}
.smallnav{
	position: fixed;
	right: 0px;
	top: 250px;
	z-index: 11px;
	margin-left: 510px;
	padding-top: 157px;		
	border-radius: 10px;
}
.smallnav ul{
	position: relative;
	top: -150px;
	border-color: #ae9775;
	height: 250px;
	width: 100px;
	border-radius: 10px;
}
#img{
	width: 50px;
	height: 50px;
}
.smallnav ul li{
	position: relative;
	top: 10px;
	width: 80px;
	margin: 10px auto 0;
	padding: 5px 5px 5px 5px;
	list-style: none;
	background-color: #eccd8d;
	border-radius: 10px;
	text-align: center;
}
.smallnav a{
	color: #fff;
	font-size: 15px;
}
.smallnav: :before {
	content: url(banner/logo.png);
}
.box{
	height: 600px;
	width: 1200px;
	margin: 70px auto;
	border-width: 1px;
	border-style: solid;
	border-color:#ae9775;
	border-radius: 45px;
	position: relative;
	text-align: center;
	background-color: rgba(35,34,53,0.9);	
	background-image: url(banner/bg.png);
	background-size: 100%;

}
.img{
	height: 300px;
	width: 300px;
	position: absolute;
	left: 150px;
	top: 130px;
	z-index: 1;
}
.img img{
	height:300px;
	width: 300px;
	border: 2px solid #eccd8d;
	box-shadow: rgba(0,0,0,0.5) 2px 3px 2px;
	border-radius: 60px;
}
.content{
	height: 450px;
	width: 800px;
	background-color: #eccd8d;
	border-radius: 30px;
	position: absolute;
	right: 100px;
	top: 60px;
}
.content p{
	font-family:"方正粗黑宋简体";
	color: #8a7751;
}
#top1{
	width: 80px;
	height: 20px;
	background-color: #8a7751;
	position: absolute;
	top: -25px;
	color: #eccd8d;
	border-radius: 10px;
	line-height: 20px;
	font-family: "方正粗黑宋简体";
	opacity: 80%;
}
#top2{
	width: 80px;
	height: 20px;
	background-color: #8a7751;
	position: absolute;
	top: -25px;
	color: #eccd8d;
	border-radius: 10px;
	line-height: 20px;
	font-family: "方正粗黑宋简体";
	opacity: 80%;
}
.base{
	margin-top: 35px;
	height:200px;
	width: 600px;
	position: absolute;
	left: 200px;
	top: 20px;
}
.base p{
	width: 490px;
	text-align: left;
	line-height: 1.5em;
}
.base #base1{
	position: absolute;
	left: 150px;
	top: 0px;
}
.detailed{
	margin-top: 20px;
	height: 300px;
	width: 600px;
	position: absolute;
	left:200px;
	top:170px;
}
.detailed p{
	text-align: left;
	line-height: 25px;
	line-height: 1.5em;
}

.button{
	width: 1000px;
	height: 60px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	line-height: 60px;
	text-align: center;
}
#button1{
	width: 100px;
	height:30px;
	background-color: #5a4b5b; 
	color:white;
	margin: 0px 150px;
	border-style: none;
	border-radius: 45px;
	outline: none;
	font-weight: 700;
}
#button2{
	width: 100px;
	height: 30px;
	margin: 0px 50px;
	background-color: #5a4b5b; 
	border-style: none;
	color:white;
	border-radius: 45px;
	outline: none;
	font-weight: 700;
}
.bottom{
	position: absolute;
	right: 0px;
	bottom: -150px;
	width: 100%;
	height: 150px;
	background-color: #000;
	color: #fff;
	text-align: center;
	opacity: 80%;
}
#navBox{
	/*border: 2px solid;*/
	position: fixed;
	background: #161820;
	width: 100%;
	height: 50px;
	top: 0px;
	/*margin: 0 auto;*/
}
#navColor{
	/*margin: 0 auto;*/
	position: fixed;
	top: 0px;
	width: 100%;
	height: 4px;
	background:#fde70a;

}
#nav{
	width: 1200px;
	height: 50px;
	/*margin: 0 auto;*/
	top: 4px;
	color: white;
	position: fixed;

}
#nav-img{
	/*margin: 0 auto;*/
	position: fixed;
	width: 60px;
	height: 50px;
	float: left;
	left: 150px;
}
#nav-img img{
	width: 60px;
	height: 50px;
}
#nav-p{
	/*margin: 0 auto;*/
	position: fixed;
	float: right;
	font-size: 20px;
	top: 14px;
	right: 150px;

}
#nav-p a{
	color: white;
}
#nav-p li{
	display: inline-block;
	width: 80px;
	text-align: center;
}
#nav-p li:hover a{
	color: #eccd8d;
}