*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-image:url("banner/bgimg.jpg");
	background-size: 100%;
	position: relative;
}
.smallnav{
	position: fixed;
	right: 0px;
	top: 250px;
	z-index: 11px;
	margin-left: 510px;
	padding-top: 157px;		
	border-radius: 10px;
}
.smallnav ul{
	position: relative;
	top: -150px;
	border-color: #ae9775;
	height: 250px;
	width: 100px;
	border-radius: 10px;
}
#img{
	width: 50px;
	height: 50px;
}
.smallnav ul li{
	position: relative;
	top: 10px;
	width: 80px;
	margin: 10px auto 0;
	padding: 5px 5px 5px 5px;
	list-style: none;
	background-color: #eccd8d;
	border-radius: 10px;
	text-align: center;
}
.smallnav a{
	color: #fff;
	font-size: 15px;
}
.smallnav: :before {
	content: url(banner/logo.png);
}
.box{
	height: 650px;
	width: 1100px;
	margin: 70px auto;
	border-width: 1px;
	border-style: solid;
	border-color:#ae9775;
	border-radius: 45px;
	position: relative;
	text-align: center;
	background-color: #232235;

}
img{
	height:400px;
	width: 400px;
	border-radius: 30px;
}
.img{
	height: 400px;
	width: 400px;
	position: absolute;
	left: 75px;
	top: 100px;
}
.content{
	height: 500px;
	width: 500px;
	background-color: #eccd8d;
	border-radius: 30px;
	position: absolute;
	right: 50px;
	top: 50px;
}
.base{
	height:200px;
	width: 500px;
	position: absolute;
	left: 5px;
	top: 0px;
}

.base p{
	height: 40px;
	width: 490px;
	text-align: left;
	line-height: 50px;
	/*border-bottom-width: 1px;*/
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	color: #232235;
}
.detailed{
	height: 300px;
	width: 500px;
	position: absolute;
	left: 5px;
	top:170px;
}
.detailed p{
	text-align: left;
	line-height: 25px;
	color: #232235;
}

.button{
	width: 1000px;
	height: 60px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	line-height: 60px;
	text-align: center;
}
#button1{
	width: 100px;
	height:30px;
	background-color: #5a4b5b; 
	color:white;
	margin: 0px 100px;
	border-style: none;
	border-radius: 45px;
	outline: none;
}
#button2{
	width: 100px;
	height: 30px;
	margin: 0px 50px;
	background-color: #5a4b5b; 
	border-style: none;
	color:white;
	border-radius: 45px;
	outline: none;
}
.bottom{
	position: absolute;
	right: 0px;
	bottom: -100px;
	width: 100%;
	height: 105px;
	background-color: #0b0d3c;
	color: white;
	text-align: center;
	opacity: 100%;
	line-height: 30px;
}
#navBox{
	/*border: 2px solid;*/
	position: fixed;
	background: #161820;
	width: 100%;
	height: 50px;
	top: 0px;
	/*margin: 0 auto;*/
}
#navColor{
	/*margin: 0 auto;*/
	position: fixed;
	top: 0px;
	width: 100%;
	height: 4px;
	background:#fde70a;

}
#nav{
	width: 1200px;
	height: 50px;
	/*margin: 0 auto;*/
	top: 4px;
	color: white;
	position: fixed;

}
#nav-img{
	/*margin: 0 auto;*/
	position: fixed;
	width: 60px;
	height: 50px;
	float: left;
	left: 150px;
}
#nav-img img{
	width: 60px;
	height: 50px;
}
#nav-p{
	/*margin: 0 auto;*/
	position: fixed;
	float: right;
	font-size: 20px;
	top: 14px;
	right: 150px;

}
#nav-p a{
	color: white;
}
#nav-p li{
	display: inline-block;
	width: 80px;
	text-align: center;
}
#nav-p li:hover a{
	color: #eccd8d;
}